:root {
    /**
    * dark theme colors 
    */

    --main-background-primary: rgb(250, 250, 250);
    --main-background-secondary: rgb(255, 255, 255);
    --main-background-tertiary: rgb(233, 231, 231);

    --white: rgb(255, 255, 255);
    --outline: rgba(178, 182, 187, 0.15);

    --primary-yellow: rgb(240, 185, 11);
    --primary-light-yellow: rgb(255, 223, 44);
    --primary-light-text: rgb(30, 35, 41);
    --primary-lighter-text: rgb(30, 35, 41);
    --primary-dark-text: rgb(30, 35, 41);
    --green-primary-light: rgb(131, 250, 176);
    --green-primary-dark: rgba(84, 230, 140, 0.829);
    --violet: rgba(157, 109, 235, 0.856);
    --violet-hover: rgba(157, 80, 235, 0.3);
    --violet-light-bg: rgba(157, 80, 235, 0.08);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    color: var(--primary-light-text);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: var(--main-background-primary);
}
.app {
    z-index: 1;
    overflow: hidden;
}
::-webkit-scrollbar {
    background: transparent;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: hsl(229, 7%, 54%);
    border-radius: 15px;
}
